@import ../vars

.chart-container
  position: relative
  background-color: white
  display: block
  max-height: 400px

  .line-chart-container
    display: flex
    flex-direction: column
    height: 100%
    width: 100%

