@import ../vars

.simulation-controls
  padding-left: 10px
  font-size: 0.8em

  div
    padding-top: 4px
  .display-mode
    font-weight: 700
  .control
    cursor: pointer
    transition: 0.3s

  .buttons
    width: 100%
    clear: both
    height: 80px
    div
      float:left

  .label-toggle
    position: fixed
    top: 4px
    left: 10px
    z-index: 2
