@import ../vars

.label-toggle
  position: fixed
  top: 4px
  left: 10px
  z-index: 2

.simulation-controls
  padding-left: 10px
  font-size: 14px
  min-width: 300px
  text-align: center

  div
    padding-top: 2px
  .display-mode
    font-weight: 700
  .control
    cursor: pointer
    transition: 0.3s

  .run-simulation-buttons
    display: flex
    align-items: center
    justify-content: center

  .flow-options
    display: flex
    align-items: center
    justify-content: center

    .flow-percentage-option
      width: 26px
      height: 16px
      border-radius: 4px
      border: 2px solid transparent
      background: $color-nav-cinder-light3
      float: left
      line-height: 18px
      text-align: center
      padding: 5px
      margin: 5px
      &:hover
        background: $color-nav-cinder-light2
      &.selected
        border: 2px solid $color-nav-cinder-light1

      input[type="radio"]
        display: none

      label
        padding: 4px
        padding-left: 2px
  .year-slider
    margin-top: 2px

    .rc-slider-dot
      border-color: silver
      width: 12px
      height: 12px
      margin-left: -6px
      top: -4px

    .rc-slider-dot-active
      background-color: #abe2fb
      border-width: 1px

    .rc-slider-handle
      border-color: #57c5f7
      width: 16px
      height: 16px
      margin-left: -8px
      margin-top: -6px